# -----------------------------------------------------------------
# SETUP
#
# Create a file called `.env` and copy the contents of `env.sample` into it, 
# updating the values as needed, and filling in any secrets that are missing.
# -----------------------------------------------------------------

# -----------------------------------------------------------------
# DATBASE
#
# See Openshift secret for password
# -----------------------------------------------------------------
POSTGRES_SERVER_HOST=localhost
POSTGRES_SERVER_PORT=6666
POSTGRES_USER=bctw
POSTGRES_PASSWORD=
POSTGRES_DB=bctw
DB_POOL_SIZE=
DB_CONNECTION_TIMEOUT=
DB_IDLE_TIMEOUT=

# -----------------------------------------------------------------
# LOTEK API
#
# See Openshift secret for username and password
# -----------------------------------------------------------------
LOTEK_API_URL=https://webservice.lotek.com/API
LOTEK_USER=
LOTEK_PASS=

# How many telementry records to insert into the database in one query
LOTEK_DB_INSERT_BATCH_SIZE=1000

# -----------------------------------------------------------------
# VECTRONIC API
# -----------------------------------------------------------------
# How many telementry records to insert into the database in one query
VECTRONIC_DB_INSERT_BATCH_SIZE=1000